/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: #f8fafc;
  --textColor: #0f172a;
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: #6366f1;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: #4338ca;
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: #6366f1;
  background: #bfdbfe;
}
.btn-hipster:hover {
  color: #bfdbfe;
  background:#4338ca;
}
.btn-block {
  width: 100%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #64748b;
  border-radius: 50%;
  border-top-color: #6366f1;
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: #6366f1;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
/* 
============= 
PROJECT CSS 
=============== 
*/

body{
  background: #6366f1 ;
}

/* navbar */
nav{
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-center{
  width: var(--fluid-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: none;
  color:white;
  letter-spacing: 3px;
  font-weight: 700;
}

.toggle-btn{
  width: 2rem;
  height: 2rem;
  background: white;
  color: #4338ca;
  border-radius: 0.25rem;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.toggle-btn:hover{
  transform: scale(1.1);
}

/* hero */
.hero-container{
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;}
  
.hero-center{
  color: white;
  width: var(--fluid-width);
  max-width: var(--max-width);
}

.hero-center h1{
  font-size: clamp(3rem, 5vw, 5rem);
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.25;

}

.hero-center p{
  line-height: 1.5;
}

@media screen and (min-width:992px){
  .hero-center{
    text-align: center;
  }
  .hero-center p{
    max-width: 35rem;
    margin: 0 auto;
  }

  .toggle-btn{
    display: none;
  }
}

/*------- sidebar */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
}
.show-sidebar{
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 1s;
}

.sidebar-container{
  padding: 4rem 2rem;
  position: relative;

}

.close-btn{
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #6366f1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.sidebar article{
  margin-bottom: 2rem;
}

.sidebar h4{
  margin-bottom: 1rem;
  color: #4338ca;
}

.sidebar-sublinks{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

.sidebar-sublinks a{
  display: block;
  color: #0f172a;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1rem;

}

.sidebar-sublinks svg{
  color: #64748b;

}

@media screen and (min-width:992px){
.sidebar{
  display: none;

}
}

/* navlinks */
.nav-links{
  display: none;
}

@media screen and (min-width:992px){
 .nav-links{
  display: flex;
  justify-content: center;
  align-self: stretch;

 }

 .nav-center{
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: stretch;
 }

 .nav-link{
  padding: 0 1rem;
  color: white;
  background: transparent;
  border-color: transparent;
  font-size: 1.25rem;
  text-transform:capitalize ;
  cursor: pointer;
  letter-spacing: var(--letterSpacing);
 }
  }

  /* submenu */
  .submenu{
    display: none;
  }
  @media screen and (min-width:992px){
    .submenu{
      display: block;
      position: fixed;
      top: 6rem;
      left: 50%;
      width: var(--fluid-width);
      max-width: var(--max-width);
      background: white;
      padding: 2rem;
      transform: rotateX(-90deg) translateX(-50%);
      transform-origin: top;
      perspective: 1000px;
      visibility: hidden;
      opacity: 0;
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
      z-index: -1;
    }

    .show-submenu{
      visibility: visible;
      opacity: 1;
      transform: rotateX(0deg) translateX(-50%);
      z-index: 10;
    }
    .submenu h5{
      margin-bottom: 1rem;
      color:#4338ca;
    }
    .submenu-links{
      display:grid;
      row-gap: 0.5rem;
    }
    .submenu-links a{
      display: block;
      color: #0f172a;
      text-transform: capitalize;
      align-items: center;
      display: flex;
      gap: 1rem;
    }
    .submenu-links svg{
      color: #64748b;
    }


  }